! These are all possible options, presented with default values.
! xst will fallback to *.option if st.option is not present.
! see src/config.h for more information about option meanings.

! --- These options only take effect on startup. ---
st.termname:     xst-256color

! Set to a non-zero value to disable window decorations (titlebar, etc) and go borderless.
st.borderless:        1

! --- The following options options can be reloaded via USR1 signal. ---
st.font:              monofur for Powerline:size=11:style=bold:autohint=true;

! window padding
st.borderpx:          40

! Available cursor values: 2 4 6 7 = █ _ | ☃ ( 1 3 5 are blinking versions)
st.cursorshape:       6

! thickness of underline and bar cursors
st.cursorthickness:   2

! 0: cursor blinks with a constant interval; 1: blinking cycle resets on key input
st.cursorblinkontype: 1

st.disablebold:         0
st.disableitalics:      0
st.disableroman:        0

! Amount of lines scrolled
st.scrollrate:  1

! Kerning / character bounding-box height multiplier
st.chscale:           1.0

! Kerning / character bounding-box width multiplier
st.cwscale:           1.0

! blinking timeout for terminal and cursor blinking (0 disables)
st.blinktimeout:      800

! bell volume. Value between -100 and 100. (0 disables)
st.bellvolume:        100

! 1: render most of the lines/blocks characters without using the font for
! perfect alignment between cells (U2500 - U259F except dashes/diagonals).
! Bold affects lines thickness if boxdraw_bold is not 0. Italic is ignored.
! 0: disable (render all U25XX glyphs normally from the font).
st.boxdraw: 0

! (0|1) boxdraw(bold) enable toggle
st.boxdraw_bold: 0

! braille (U28XX):  1: render as adjacent "pixels",  0: use font
st.boxdraw_braille: 0

! set this to a non-zero value to force window depth
st.depth: 0

! opacity==255 means what terminal will be not transparent, 0 - fully transparent
! (float values in range 0 to 1.0 may also be used)
st.opacity:      228

! (0|1) dont pre-multiply color values of the pixels when using transparency
! (useful for the systems where composite manager not running all the time,
! as color pre-multiplication will make the "opaque" colors look darker/lighter
! without the composition)
st.disable_alpha_correction: 0

! colors
st.foreground:   #a7a7a7
st.background:   #1c1c1c

! -- NORMAL COLORS
! Black
st.color0:       #282a2e
! Red
st.color1:       #a54242
! Green
st.color2:       #8c9440
! Yellow
st.color3:       #de935f
! Blue
st.color4:       #5f819d
! Magenta
st.color5:       #85678f
! Cyan
st.color6:       #5e8d87
! White
st.color7:       #707880

! -- BRIGHT COLORS
! Black
st.color8:       #373b41
! Red
st.color9:       #cc6666
! Green
st.color10:      #b5bd68
! Yellow
st.color11:      #f0c674
! Blue
st.color12:      #81a2be
! Magenta
st.color13:      #b294bb
! Cyan
st.color14:      #8abeb7
! White
st.color15:      #c5c8c6

! -- NO IDEA WHAT THESE ARE. LOL.
st.color16:      #cda869
st.color17:      #9b703f
st.color18:      #323537
st.color19:      #464b50
st.color20:      #838184
st.color21:      #c3c3c3
